geometry : LHCb
paramsDecaying : M, P, PT, PX, PY, PZ, E, FD, origX, origY, origZ, vtxX, vtxY, vtxZ
paramsStable : P, PT, M, , PT, PX, PY, PZ, E,  origX, origY, origZ
paramsTwoBody : M2

@0
	name : Dp_0
@1
	name : phi_0
@2
	name : pip_0
	smear : LHCbGeneric
@3
	name : Kp_0
	smear : LHCbGeneric
@4
	name : Km_0
	smear : LHCbGeneric
